includes:
	- phpstan.base.neon

parameters:
	level: 8
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

	ignoreErrors:
		# Monolog V2 and V3 compatibility
		- '#^Fetching deprecated class constant (.+) of class Monolog\\Logger(.+)#'
